<!-- search bar -->

<div class="form-group search-group">
  <input type="text" placeholder="Search.." name="search" class="form-control" style="width:35%;" id="search_{{pag_client.page_name}}">
  <a type="submit" class="btn btn-warning btn-round search-btn" onclick="pagination_search('{{pag_client.page_name}}', detail_id='{{pag_client.detail_id}}')">
      <i class="fa fa-search" style="color:white;"></i></a>
</div>

<!-- search bar ends -->

<div class="table-responsive">
    <table class="table table-de table table-striped table-bordered nowrap dataTable no-footer dtr- collapsed">
        <thead>
            <tr>
                <th>Full Name</th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for user in pag_client.data_list %}
            <tr>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>
                     <div class="form-group" align="left" style="margin-right:20px;">
<div class="dropdown-warning dropdown open">
<button class="btn btn-warning btn-round dropdown-toggle waves-effect waves-light " type="button" id="dropdown-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
<div class="dropdown-menu" aria-labelledby="dropdown-5" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
<a class="dropdown-item waves-light waves-effect" href="{% url 'admin:show_user' user.unique_id %}">Show User Profile </a>
<a class="dropdown-item waves-light waves-effect" href="{% url 'admin:update_user' user.unique_id %}">Update User Profile</a>
<div class="dropdown-divider"></div>
<!-- onclick="check_del('delete-user-{{user.id}}');" -->
<a class="dropdown-item waves-light waves-effect"
data-toggle="modal" data-target="#delete-client-{{user.id}}" >Delete register </a>

</div>
</div>

</div>
                </td>
            </tr>
             <!-- Modal normal sign in start -->
                <div id="delete-client-{{user.id}}" class="modal fade create-form" role="dialog">
                <div class="modal-dialog card">
                    <i class="ion-close" data-dismiss="modal" style="margin-left:90%; margin-top:10px; margin-right:1px;"></i>
                    <hr>
                    <!--<form action="{% url 'admin:delete_record' user.unique_id pag_client.page_name %}" method="post">-->
                        {% csrf_token %}
                        <div class="card-block">
                                <div class="modal-body">
                                <h4 class="lead"> Are you sure you want to delete this record? </h4>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-danger" onclick="delete_record('{{pag_client.page_name}}','{{user.unique_id}}')">Delete Record</button>
                                </div>
                        </div>
                    <!--</form>-->
                </div>
                </div>
                 <!--Modal normal sign in end-->

            {% empty %}
                <div class="card">
                    <h3 align="center">
                        There's no Users registered in the app.
                    </h3>
                </div>
            {% endfor %}
        </tbody>
    </table>

<div class="pagination" style="">
        <span class="step-links">
        {% if pag_client.prior_page %}
        <a class="pag" onclick="get_page('{{pag_client.page_name}}',1,10,detail_id='{{pag_client.detail_id}}')">&laquo; first</a>
        <a class="pag" onclick="get_page('{{pag_client.page_name}}',{{pag_client.prior_page}},10,detail_id='{{pag_client.detail_id}}')"> < previous</a>
        {% endif %}

        <span class="current">
        {{pag_client.total_pages}}
        </span>

        {% if pag_client.next_page %}
        <a class="pag" onclick="get_page('{{pag_client.page_name}}',{{pag_client.next_page}},10, detail_id='{{pag_client.detail_id}}')">next > </a>
        <a class="pag" onclick="get_page('{{pag_client.page_name}}',{{pag_client.last_page}},10,detail_id='{{pag_client.detail_id}}')">last &raquo;</a>
        {% endif %}

        <span class="current">
        {{pag_client.per_page}}
        </span>
        </span>
    </div>

</div>
