<div class="table-responsive">
<table class="table m-0">
<tbody>
{% for referral in ref_pag.data_list %}
    <tr>
    <th scope="row">
        Referral
    </th>
        <td>
            {{referral}} | <a href="{% if request.user.is_staff %}
            {% url 'admin:show_referral' referral.unique_id %}
             {% else %} {% url 'core:show_referral' referral.unique_id %} {% endif %}"> <i class="ion-eye"></i> View Referral</a>
        </td>
    </tr>
{% empty %}
          <tr>
              <td>
                 NO DATA
              </td>
          </tr>
{% endfor %}
</tbody>
</table>
     <div class="pagination" style="">
        <span class="step-links">
        {% if ref_pag.prior_page %}
        <a class="pag" onclick="get_page('{{ref_pag.page_name}}',1,10,detail_id='{{ref_pag.detail_id}}')">&laquo; first</a>
        <a class="pag" onclick="get_page('{{ref_pag.page_name}}',{{ref_pag.prior_page}},10,detail_id='{{ref_pag.detail_id}}')"> < previous</a>
        {% endif %}

        <span class="current">
        {{ref_pag.total_pages}}
        </span>

        {% if ref_pag.next_page %}
        <a class="pag" onclick="get_page('{{ref_pag.page_name}}',{{ref_pag.next_page}},10, detail_id='{{ref_pag.detail_id}}')">next > </a>
        <a class="pag" onclick="get_page('{{ref_pag.page_name}}',{{ref_pag.last_page}},10,detail_id='{{ref_pag.detail_id}}')">last &raquo;</a>
        {% endif %}

        <span class="current">
        {{ref_pag.per_page}}
        </span>
        </span>
    </div>
</div>
